<router-outlet></router-outlet>

<h1>My first Angular project year: {{year}}</h1>

<!-- Message from  TypeScript -->
<h3>{{message}}</h3>

<ul>
  <li *ngFor="let str of firstArrOfStr">
    {{str}}
  </li>
</ul>

<p>{{typeScriptObject.alive}}</p>


<div *ngFor="let item of typeScriptObject | keyvalue">
  {{item.key}}:{{item.value}}
</div>